<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">La mejor alternativa premium para viajar
              </h1>
              <p class="lead  text-white">Bienvenidos a Lexus Taxi Sevilla, donde ofrecemos una experiencia de viaje
                premium, de manera eficaz, transparente seria y puntual.</p>
              <div class="btn-wrapper">
                <a href="tel:+34603768703"
                  class="btn btn-default btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-calendar"></i></span>
                  <span class="btn-inner--text">Reserva ahora</span>
                </a>
                <a (click)="scroll()"
                  class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-address-card"></i></span>
                  <span class="btn-inner--text">Conócenos más</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-satisfied"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">EFICACIA</h6>
                  <p class="description mt-3">Contacto directo con el chófer, ajustandose a las necesidades del cliente,
                    tanto geográficas como horarias. Cuéntanos qué necesitas.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-hat-3"></i>
                  </div>
                  <h6 class="text-success text-uppercase">ELEGANCIA</h6>
                  <p class="description mt-3">Viaja en un vehículo de altas prestaciones, donde podrás relajarte de la
                    mano de una conducción perfecta y fina, gracias a nuestros rigurosos mantenimientos. </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">PUNTUALIDAD</h6>
                  <p class="description mt-3">Nos tomamos muy en serio las preferencias de nuestros clientes, por lo que
                    siempre aconsejamos los mejores rangos horarios para llegar sin incidencias</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg" id="about">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/fotosTaxi/imagen6.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-building"></i>
            </div>
            <h3>Viaja con nosotros</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsa ducimus nobis quos minima vel omnis dolores soluta ullam? Sint illo quae cum corporis asperiores voluptas aliquid iusto eligendi unde?</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/brand/lexus-interior-.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Nuestro vehículo</h4>
              <p class="lead text-italic text-white">Para garantizar la máxima comodidad y eficacia, el cliente viajará
                en un Lexus IS 300h</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle mb-5">
              <i class="ni ni-bus-front-12"></i>
            </div>
            <h3>Lexus IS 300h</h3>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-default mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Híbrido, amigable con el medioambiente</h6>
                  </div>
                </div><br>
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-default mr-3">
                      <i class="ni ni-circle-08"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">5 plazas</h6>
                  </div>
                </div><br>
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-default mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">2493 cm³ - 223cv</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-default mr-3">
                      <i class="ni ni-delivery-fast"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">0-100 en 8,3 segundos</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-default mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Habilitado para niños (bajo petición)</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0 bg-gradient-default section-carrusel">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <ngb-carousel class="carrusel">
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/fotosTaxi/imagen5.png">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/fotosTaxi/imagen2.png">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/fotosTaxi/imagen3.png">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/fotosTaxi/imagen4.png">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/fotosTaxi/imagen1.png">
              </ng-template>
              
          </ngb-carousel>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-square-pin text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">A donde quieras</h4>
              <p class="text-white">Consulta nuestra tabla  de tarifas para informarte sobre los trayectos, duración y precios. <br>
                Siéntete libre de comentarnos todas y cada una de tus necesidades para cubrirtelas y que tengas una experiencia totalmente personalizada</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
         <img src="./assets/img/brand/lexus-interior-.jpg" class="card-img-top">
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 class="display-3">¿Quieres verlo por dentro?</h2>
          <p class="lead text-muted">Adéntrate en nuestro Lexus, acabados premium y elegantes</p>
        </div>
      </div>
      <ngb-carousel>
        <ng-template ngbSlide>
          <img class="img-fluid" src="assets/img/fotosTaxi/interior1.png">
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid" src="assets/img/fotosTaxi/interior2.png">
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid" src="assets/img/fotosTaxi/interior3.png">
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid" src="assets/img/fotosTaxi/interior4.png">
        </ng-template>
      </ngb-carousel>
    </div>
  </section>

  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300 contenedor2">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Titulo 2</h2>
          <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ipsum tenetur officiis porro veritatis, illo atque! Eveniet quo nesciunt a architecto minima libero laboriosam itaque, officia, error accusantium atque? Vel.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Titulo 2</h5>
          <p class="text-white mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil tempora quam voluptatum dolore ratione nesciunt at quod fugit earum, omnis obcaecati laborum enim, atque neque, voluptas iste sapiente. Animi, mollitia?</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Titulo 2</h5>
          <p class="text-white mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil tempora quam voluptatum dolore ratione nesciunt at quod fugit earum, omnis obcaecati laborum enim, atque neque, voluptas iste sapiente. Animi, mollitia?</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Titulo 2</h5>
          <p class="text-white mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil tempora quam voluptatum dolore ratione nesciunt at quod fugit earum, omnis obcaecati laborum enim, atque neque, voluptas iste sapiente. Animi, mollitia?</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Ponte en contacto mediante e-mail</h4>
              <p class="mt-0">Tus preferencias son muy importantes para nosotros.</p>
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input class="form-control" placeholder="Tu nombre" type="text" (focus)="focus=true"
                    (blur)="focus=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Tu e-mail" type="email" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80"
                  placeholder="Escribe un mensaje..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Enviar Mensaje</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">¿Qué tal la experiencia en
            <span class="text-success">Lexus Taxi Sevilla?</span>
          </h2>
          <p class="lead">Tu opinión es importante, dado que nos ayuda a mejorar y crecer. Si has disfrutado de nuestros servicios, déjanos una reseña. ¡Lo valoraremos mucho!</p>
          <div class="btn-wrapper">
            <a href="#"
              class="btn btn-default mb-3 mb-sm-0">Dejar reseña</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>