.section-carrusel {
    height: 100vh;
}

.carrusel {
    margin-top: 10vh;
}

.contenedor2{
    margin-top: -15vh;
}

.greenIcon {
    background-color: #7fe6af;
    color: green;
}

.bg-custom {
    background-color: #296e9e;
}