<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">Gracias por su confianza!</h3>
        <h4 class="mb-0 font-weight-light">Podemos seguir en contacto a través de las siguientes plataformas.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a target="_blank" href="https://www.instagram.com/lexustaxisevilla/" class="btn btn-neutral btn-icon-only btn-instagram btn-round btn-lg" ngbTooltip="Síguenos">
          <i class="fa fa-instagram"></i>
        </a>
        <a target="_blank" href="https://wa.me/34674982801?text=Hola,%20estoy%20interesado%20en%20contratar%20sus%20servicios" target="_blank" data-toggle="tooltip" title="WhatsApp" class="btn btn-neutral btn-icon-only btn-whatsapp btn-round btn-lg">
          <i class="fa fa-whatsapp"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="#" target="_blank">Lexus Taxi Sevilla</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://www.instagram.com/lexustaxisevilla/" class="nav-link" target="_blank">Instagram</a>
          </li>
          <li class="nav-item">
            <a href="https://wa.me/34674982801?text=Hola,%20estoy%20interesado%20en%20contratar%20sus%20servicios" class="nav-link" target="_blank">Contáctanos por WhatsApp</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
